# Virtualenv
.venv/
venv/
env/

# Django
*.log
db.sqlite3
media/
staticfiles/
__pycache__/
*.pyc
.env
.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# local settings
config/local_settings.py

# dump para migrar a Postgres (puede contener datos sensibles)
data/