asgiref==3.11.1
Django==6.0.3
django-cors-headers==4.9.0
djangorestframework==3.16.1
djangorestframework-simplejwt==5.3.1
djoser==2.2.2
gunicorn==23.0.0
psycopg[binary]==3.2.3
PyJWT==2.9.0
python-dotenv==1.0.1
sqlparse==0.5.5
